@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding-top: 80px;
    font-family:'Open Sans', sans-serif,  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529; */
    color: #373737;
    text-align: left;
    background-color: #FEFEFE;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
    padding: 0;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.page-content {
    width: 90%;
    max-width: 1024px;
    box-sizing: border-box;
    margin: 50px auto;
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #DCD0C0;
    outline: none;
    cursor: pointer;
    color: #373737;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover {
    background-color: #DCC6A1;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

.button.button-outline {
    background-color: transparent;
    border: 1px solid #595959;
    color: #595959;
}

.button.button-outline:hover {
    background-color: #595959;
    color: #F4F4F4;
}

.button.cta-btn {
    padding: 5px 8px;
    background-color: #56A8E5;
    color: white;
    margin: 5px;
    transition: background-color 0.15s ease-in-out;
}
.button.cta-btn:hover {
    background-color: #5287FC;
}

.button.cta-btn i {
    width: 20px;
}

.button.add-button {
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0;
    padding: 20px 0;
}


/* ----- PAGE HEADER STYLE ----- */
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #C0B283;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    z-index: 100;
}

.page-header .wrapper {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-header .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
    z-index: 102;
}

.page-header .logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 100px;
    line-height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header .page-menu, .page-header .user-menu {
    height: 80px;
    line-height: 80px;
}
.page-header .page-menu { left: 0; }
.page-header .user-menu { right: 0; }

.page-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header ul li a {
    display: block;
    padding: 0 10px;
    height: 80px;
    color: #373737;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.page-header ul li a:hover {
    background-color: rgba(0, 0, 0, .08);
    color: #151515;
}

.page-header .page-menu-handler, .page-header .user-menu-handler {
    display: none;
    position: absolute;
    top: 20px;
    height: 40px;
    color: #373737;
    font-size: 20px;
    text-align: center;
    width: 40px;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
.page-header .page-menu-handler { left: 20px; }
.page-header .user-menu-handler { right: 20px; }

.page-header .page-menu-handler:hover, .page-header .user-menu-handler:hover {
    color: #111111;
}

.page-header .page-menu-handler i, .page-header .user-menu-handler i {
    font-size: 40px;
}

/* ----- QUESTION & ANSWER STYLE ----- */
.questions {
    width: 100%;
}

.answers {
    width: 100%;
    margin: 30px 0;
}

.question, .answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #373737;
}

.question:nth-child(1), .answer-wrapper:nth-child(1) .answer {
    border-top: 1px solid #373737;
}

.question small {
    font-size: 14px;
    color: #999999;
}

.question .question-main {
    width: 78%;
}

.question .question-main .question-title {
    padding: 0;
    margin: 0;
}

.question .question-main .question-title a {
    font-size: 20px;
    font-weight: normal;
    color: #56A8E5;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* Add media query to widen it on tablet. */
.question .question-aside {
    width: 22%;
}

.question .question-aside .question-numbers, .answer .answer-aside .answer-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.question .question-aside .question-numbers li, .answer .answer-aside .answer-numbers li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question .question-aside .question-numbers li span.number, .answer .answer-aside .answer-numbers span.number {
    font-size: 16px;
}
.question .question-aside .question-numbers li span.label, .answer .answer-aside .answer-numbers li span.label {
    font-size: 12px;
}

.question.single-question, .answer {
    padding: 40px 10px;
    justify-content: space-between;
    align-items: start;
}

.question.single-question .question-aside, .answer .answer-aside {
    width: 10%;
}

.question.single-question .question-aside .question-numbers, .answer .answer-aside .answer-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.question.single-question .question-aside .question-numbers li span, .answer .answer-aside .answer-numbers li span {
    font-size: 24px;
}

.question.single-question .question-aside .question-numbers li a, .answer .answer-aside .answer-numbers li a {
    font-size: 28px;
    color: #373737;
}

.question.single-question .question-buttons, .answer .answer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.answers {
    width: 90%;
    margin: 0 0 0 auto;
}

.answer {
    width: 100%;
    padding: 15px 10px;
}

.answer .answer-aside { width: 10%; }
.answer .answer-main { width: 80%; }
.answer .answer-buttons { width: 10%; }

/* ----- COMMENT STYLE ----- */
.comments {
    width: 95%;
    margin: 0 0 0 auto;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #777777;
    color: #777777;
    font-size: 14px;
}

.comment .comment-details p, .comment .comment-details small{
    padding: 0;
    margin: 0;
}

/* ----- FORM STYLE ----- */
.form {
    width: 100%;
    background-color: white;
    padding: 20px 60px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.form h3 {
    text-align: center;
    margin-bottom: 25px;
}

.form p {
    text-align: center;
}

.form .form-group {
    margin: 20px 0;
}

.form .form-group label {
    display: block;
    padding: 0 0 5px 0;
    transition: color 0.2s ease-in-out;
}
.form .form-group.active label { color: #C0B283; }

.form .form-group input, .form .form-group textarea {
    display: block;
    outline: none;
    padding: 10px 5px;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #373737;
    font-size: 16px;
    transition: border-color 0.2s ease-in-out;
    resize: vertical;
}
.form .form-group.active input, .form .form-group.active textarea { border-color: #C0B283; }

/* ----- FOOTER STYLE ----- */
.page-footer {
    height: 120px;
    background-color: #C0B283;
}

/* ----- MEDIA QUERY ----- */

@media screen and (max-width: 768px) {
    .page-header .overlay.active {
        display: block;
    }
    .page-header .page-menu, .page-header .user-menu {
        position: fixed;
        height: 100%;
        width: 200px;
        background-color: #373737;
        z-index: 105;
    }
    .page-header .page-menu.active, .page-header .user-menu.active {
        box-shadow: 0 0 16px rgba(0, 0, 0, .6);
    }
    .page-header .page-menu {
        left: -200px;
    }
    .page-header .page-menu.active {
        left: 0;
        transition: left 0.2s ease-in-out;
    }
    .page-header .user-menu {
        right: -200px;
    }
    .page-header .user-menu.active {
        right: 0;
        transition: right 0.2s ease-in-out;
    }
    .page-header .page-menu ul, .page-header .user-menu ul {
        flex-direction: column;
    }
    .page-header .page-menu ul li a, .page-header .user-menu ul li a {
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
        box-sizing: border-box;
        color: #F4F4F4;
    }
    .page-header .page-menu ul li a:hover, .page-header .user-menu ul li a:hover {
        color: #D2D2D2;
    }
    .page-header .page-menu-handler, .page-header .user-menu-handler {
        display: block;
    }
    .question {
        justify-content: space-between;
    }
    .question .question-main {
        width: 90%;
    }
    .question .question-aside {
        width: 8%;
    }
    .question .question-aside .question-numbers {
        flex-direction: column;
    }
}