{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="hero-image"></section>
    <section class="questions">
        {% for question in questions %}
            <article class="question question-wrapper">
                <main class="question-main">
                    <h4 class="question-title"><a href="/question/{{ question.id }}">{{ question.title }}</a></h4>
                    <ul class="question-tags">
                        {% for tag in question.tags %}
                            <li class="question-tag">Tag</li>
                        {% endfor %}
                    </ul>
                    <small class="question-details">
                        Submitted on
                        <span class="question-submission-time">{{ question.submission_time }}</span>
                        by
                        <span class="question-user">{{ question.username }}({{ question.user_reputation }})</span>
                    </small>
                </main>
                <aside class="question-aside">
                    <ul class="question-numbers">
                        <li class="question-views"><span class="number">{{ question.view_number }}</span><span class="label">Views</span></li>
                        <li class="question-votes"><span class="number">{{ question.vote_number }}</span><span class="label">Votes</span></li>
                        <li class="question-answers"><span class="number">{{ question.answer_number }}</span><span class="label">Answers</span></li>
                    </ul>
                </aside>
            </article>
        {% else %}
            <p>There are no questions in the database.</p>
        {% endfor %}
    </section>
{% endblock %}