{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="hero-image"></section>
    <section class="questions">
        <article class="question">
            <main class="question-main">
                <h4 class="question-title"></h4>
                <ul class="question-tags">
                    <li class="question-tag"></li>
                </ul>
                <small class="question-details"></small>
            </main>
            <aside class="question-aside">
                <ul class="question-numbers">
                    <li class="question-views"></li>
                    <li class="question-votes"></li>
                    <li class="question-answers"></li>
                </ul>
            </aside>
        </article>
    </section>
{% endblock %}