{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block content %}
    <section class="questions">
        {% if editing_question %}
            <section class="form edit-question-form">
                <h3>Edit Question</h3>
                {% if error_messages %}
                    <article class="error-messages">
                        {% for message in error_messages %}
                            <strong class="error-message">{{ message }}</strong>
                        {% endfor %}
                    </article>
                {% endif %}
                <form action="/question/{{ question.id }}/edit" method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" placeholder="Title" value="{{ question.title }}" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" row="4" name="message" placeholder="Message ...">{{ question.message }}</textarea>
                    </div>
                    <button type="submit" class="button">Edit</button>
                    <a href="/question/{{ question.id }}" class="button button-outline">Cancel</a>
                </form>
            </section>
        {% else %}
            <article class="question single-question">
                <aside class="question-aside">
                    <ul class="question-numbers">
                        <li class="question-vote-up"><a href="#" class="arrow"><i class="fa fa-caret-up"></i></a></li>
                        <li class="question-votes"><span class="number">{{ question.vote_number }}</span></li>
                        <li class="question-vote-down"><a href="#" class="arrow"><i class="fa fa-caret-down"></i></a></li>
                    </ul>
                </aside>
                <main class="question-main">
                    <h4 class="question-title">{{ question.title }}</h4>
                    <ul class="question-tags">
                        {% for tag in question.tags %}
                            <li class="question-tag">Tag</li>
                        {% endfor %}
                    </ul>
                    <p class="question-message">{{ question.message }}</p>
                    <small class="question-details">
                        Submitted on
                        <span class="question-submission-time">{{ question.submission_time }}</span>
                        by
                        <span class="question-user">{{ question.username }}</span>
                    </small>
                </main>
                {% if user_logged_in %}
                    <aside class="question-buttons">
                        <a class="button cta-btn" href="#"><i class="fa fa-comment"></i></a>
                        {% if question.user_id == user_logged_in.id %}
                            <a class="button cta-btn" href="/question/{{ question.id }}/edit"><i class="fa fa-edit"></i></a>
                            <a class="button cta-btn" href="/question/{{ question.id }}/delete"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </aside>
                {% endif %}
            </article>
        {% endif %}
    </section>
    <section class="new-answer">
        {% if user_logged_in %}
            {% if new_answer %}
                <section class="form new-answer-form">
                    <h3>{{ 'Edit Answer' if answer.user_id else 'Add Answer'}}</h3>
                    {% if error_messages %}
                        <article class="error-messages">
                            {% for message in error_messages %}
                                <strong class="error-message">{{ message }}</strong>
                            {% endfor %}
                        </article>
                    {% endif %}
                    <form action="{{ '/question/' + question.id|string + '/edit-answer/' + answer.id|string if answer.user_id else '/question/' + question.id|string + '/new-answer'}}" method="POST">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" row="4" name="message" placeholder="Message ...">{{ answer.message }}</textarea>
                        </div>
                        <button type="submit" class="button">{{ 'Edit' if answer.user_id else 'Answer'}}</button>
                        <a href="/question/{{ question.id }}" class="button button-outline">Cancel</a>
                    </form>
                </section>
            {% else %}
                <a href="/question/{{ question.id }}/new-answer" class="button add-button">Add Answer</a>
            {% endif %}
        {% endif %}
    </section>
    <section class="answers">
        {% for answer in answers %}
            <article class="answer">
                <main class="answer-main">
                    <p class="answer-message">{{ answer.message }}</p>
                    <small class="answer-details">
                        Submitted on
                        <span class="answer-submission-time">{{ answer.submission_time }}</span>
                        by
                        <span class="answer-user">{{ answer.username }}</span>
                    </small>
                </main>
                {% if user_logged_in %}
                    <aside class="answer-buttons">
                        <a class="button cta-btn" href="#"><i class="fa fa-comment"></i></a>
                        {% if answer.user_id == user_logged_in.id %}
                            <a class="button cta-btn" href="/question/{{ question.id }}/edit-answer/{{ answer.id }}"><i class="fa fa-edit"></i></a>
                            <a class="button cta-btn" href="/answer/{{ answer.id }}/delete"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </aside>
                {% endif %}
            </article>
        {% else %}
            <p>No answers for this question!</p>
        {% endfor %}
    </section>
{% endblock %}